/* header{
height: 10vh;
width: auto;
} */

/* main{
height: 100vh;
width: auto;
} */

footer{
height: 20vh;

}


.tree{
  font-size: 150pt;
  user-select: none;
}

.bg-grass{
  background-color:darkolivegreen;
}

.selectable{
  cursor: pointer;
}

.selectable:hover{
  transform: scale(1.03);
  transition: all .2s ease-in-out;
  filter: drop-shadow(0px 0px 10px rgb(255, 246, 126))
}

.brighter, h2, h3, h5, h6, button:hover{
  transform: scale(1.01);
  transition: all .2s ease-in-out;
  filter: drop-shadow(0px 0px 10px rgb(255, 246, 126))
}


